{% for mac,key in inventory.items() %}
  {{ key.name }} ansible_ssh_host={{ key.ipAddress }} ansible_user=njl
{% endfor %}




{% for room,devices in rooms.items() %}
[{{ room }}]
{% for device in devices %}
{{ device }}
{% endfor %}
{% endfor %}
